//!IMPORTANT NOTICE
//Please only use the following elements in any Venture document, styles have been laid out in order to keep consistency throughout any project
//These have been laid out as variables so that developers may refer to the document at any point during the development process.
// If there are any queries regarding the creation of components, please refer to the design system that has been laid out.


// Colours

//Primary
$primary: #074BA4;
$primaryShadeOne: #337AC0;
$primaryShadeTwo: #7CA2D5;
$primaryShadeThree: #BDD3EA;

//Secondary
$Secondary: #CF5B73;
$borderRadius: 8px;

//Tertiary
$TertiaryYellow: #FDC976;
$TertiaryBlue: #1798AD;

//System Colours
$warning: #FE132E;
$success: #47B626;

//Text Color
$BlackText: #222526;
$WhiteText: #FFFF;

//Text
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primaryType: 'Raleway', sans-serif;
$secondaryType: 'Roboto', sans-serif;
;

//headings

@mixin headingOne {
    font-family: $secondaryType;
    font-weight: 800;
    font-size: 85px;
    letter-spacing: 2%;
}

@mixin headingTwo {
    font-family: $secondaryType;
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 2%;
}

@mixin headingThree {
    font-family: $secondaryType;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 2%;
}

@mixin headingFour {
    font-family: $secondaryType;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 2%;
}

@mixin bodyCopy {
    font-family: $primaryType;
    font-weight: 400;
    font-size: 20px;
}

@mixin secondaryText {
    font-family: $primaryType;
    font-weight: 400;
    font-size: 16px;
}

@mixin dropShadow {
    box-shadow: 16px 8px 38px -12px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 16px 8px 38px -12px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 16px 8px 38px -12px rgba(0, 0, 0, 0.19);
}

//Checkboxes Unselected 

@mixin unchecked {
    width: 42px;
    height: 42px;
    background: #FFFFFF;
    border: 3px solid #074BA4;
    border-radius: 10.26px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
}

@mixin uncheckedFocussed {
    width: 42px;
    height: 42px;
    // background: transparent;
    background: #7CA2D5;
    border: 3px solid #074BA4;
    border-radius: 10.26px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
}

@mixin uncheckedDisabled {
    width: 42px;
    height: 42px;
    border-radius: 10.26px;
    border: 3px solid rgba(174, 194, 221, 1);
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
}

//Checkboxes Ticked
@mixin ticked {
    width: 42px;
    height: 42px;
    background: #074BA4;
    border-radius: 10.26px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
}

@mixin tickedDisabled {
    width: 42px;
    height: 42px;
    background: #7CA2D5;
    border-radius: 10.26px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
}

//Radio Buttons

@mixin notToggled {
    width: 42px;
    height: 42px;
    border: 3px solid #074BA4;
    border-radius: 20px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
}

//Toggled Radio buttons has two divs

@mixin toggledOutline {
    position: relative;
    width: 42px;
    height: 42px;
    border: 3px solid #074BA4;
    border-radius: 20px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);

    @mixin toggledInside {
        position: absolute;
        width: 29.93px;
        height: 29.93px;
        top: 6.04px;
        left: 6.04px;
        border-radius: 20px;
        background: #074BA4;
    }
}



//Buttons

// Light Mode
@mixin primaryLightButton{
    width: 141px;
    height: 52px;
    border-radius: 10.2558px;
    box-shadow: 1.96226px 0.981132px 3.92453px rgba(0, 0, 0, 0.16);
    background: #FCCA79;
    //Text Styling
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #074BA4;
}

//Alternatively if you want them separate
//But will need toi adjust the top and left of the primaryButtonText
@mixin primaryLightButtonShape{
    position: relative;
    width: 141px;
    height: 52px;
    border-radius: 10.2558px;
    box-shadow: 1.96226px 0.981132px 3.92453px rgba(0, 0, 0, 0.16);
    background: #FCCA79;
    
    @mixin primaryLightButtonText{
        position: absolute;
        top: 16.5px;
        left: 40.5px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #074BA4;
    }
}



//Secondary Button
@mixin secondaryLightButton{
    width: 141px;
    height: 52px;
    border: 3px solid #337AC0;
    border-radius: 10.2558px;
    //Text Styling
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #337AC0;
}

//Dark Mode Buttons
@mixin primaryDarkButton{
    width: 141px;
    height: 52px;
    background: #074BA4;
    border-radius: 10.2558px;   
    //Text Styling 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

@mixin secondaryDarkButton{
    width: 141px;
    height: 52px;
    border: 3px solid #FCCA79;
    border-radius: 10.2558px;   
    //Text Styling 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FCCA79;
}

//Toggles
//Each state is split into two divs 
//Off State
@mixin toggleOffContainer{
    width: 91.45px;
    height: 46.29px;    
    border: 3px solid #074BA4;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 23.1438px;

    @mixin toggleOffDot{
        width: 37.22px;
        height: 37.22px; 
        border-radius: 100%; 
        background: #7CA2D5;
    }
}

//On State
@mixin toggleOnContainer{
    width: 91.45px;
    height: 46.29px;
    background: #BDD3EA;
    border: 3px solid #074BA4;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 23.1438px;

    @mixin toggleOnDot{
        width: 37.22px;
        height: 37.22px; 
        border-radius: 100%; 
        background: #074BA4;
    }
}

//Text Field

@mixin textField{
    position: relative;
    width: 370px;
    height: 38px;
    background: #FFFFFF;
    border: 3px solid #337AC0;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10.2558px;

    @mixin text{
    position: absolute;
    left: 6px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #B0B0B0;
    }
}
